<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="home-container">
        <div class="text-section">
            <h1 class="animated-title">Welcome to Job Board</h1>
            <p class="lead">
                "Welcome to your gateway to endless opportunities! 
                Our platform connects you with top employers across diverse
                industries. Explore the latest job openings tailored to your skills
                and ambitions, and take the next step towards your dream job."
            </p>
            <a href="/listings" class="btn-explore">Explore Jobs</a>
        </div>
        <div class="img-sec">
            <img
                src="/assets/Best_Job_Boards_For_Employers.jpg"
                alt="Job Opportunities"
                class="job-img"
            />
        </div>
    </div>
</body>
</html>
